*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos cursos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
	--font-primary: 'Nunito', Helvetica, Arial, sans-serif;
	--cor-green-dark: #049A40;
	--cor-green-light: #0BF96A;
	--cor-pink-dark: #E10BF9;
	--cor-pink-light: #F3A0FD;
	--cor-white: #F5F5F5;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--cor-white);
	font-family: var(--font-primary);
}

a, a:hover, a:active, a:link, a:visited {
	text-decoration: none;
	color: #000000;
}

hr {
	border: none;
	background-color: var(--cor-pink-dark);
	height: 2px;
	width: 140px;
	margin: 20px auto;
}

p {
	line-height: 21.82px;
	padding: 0 10px;
}

.section__titulo {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 20px;
}

img {
	display: block;
	max-width: 100%;
}

/**********************************/
/* 2. Menu
/**********************************/

.menu-bg {
	background-color: var(--cor-green-light);
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 960px;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 2% 0;
}

.menu__logo {
	padding: 0 2%;
}

.nav {
	flex: 1;
	text-align: right;
	padding-left: 2%;
	padding-right: 2%;
}

.nav__list li {
	list-style: none;
	display: inline-block;
	padding: 8px 10px;
	position: relative;
	font-weight: 600;
}

.nav__link::after {
	content: "";
	width: 0%;
	height: 2px;
	background-color: var(--cor-pink-dark);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav__link:hover::after {
	width: 100%;
}

.menu .fas {
	display: none;
}

@media (max-width: 700px) {
	.nav__list li {
		display: block;
	}

	.nav {
		position: fixed;
		background-color: var(--cor-pink-light);
		height: 220px;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	.menu .fas {
		display: block;
		color: #000000;
		margin:10px;
		font-size: 1.375em;
		cursor: pointer;
	}

	.nav__list {
		padding: 20px;
	}

	.nav__link::after {
		background-color: var(--cor-pink-light);
	}
}

/**********************************/
/* 3. Header
/**********************************/

.intro {
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
	padding: 25px 0;
}

/**********************************/
/* 4. Quem somos
/**********************************/

.somos {
	max-width: 960px;
	margin: 0 auto;
}

.somos-c {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.somos-c__text {
	flex: 6 1 160px;
}

.somos-c__img {
	flex: 1 1 350px;
}

/**********************************/
/* 5. Nossos cursos
/**********************************/

.cursos {
	max-width: 960px;
	margin: 0 auto;
}

.cursos-c {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.curso {
	width: 280px;
	margin: 0 20px;
}

.curso__titulo {
	font-size: 1.5rem;
	text-align: center;
	margin: 10px 0;
}

.curso__descricao {
	text-align: justify;
}

/**********************************/
/* 6. Planos
/**********************************/

.planos {
	background-color: var(--cor-pink-light);
}

.planos-c {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

.plano {
	width: 290px;
	margin: 10px;
	border: 2px var(--cor-green-light) solid;
}

.plano__titulo {
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	margin: 10px auto;
}

.plano__preco {
	font-size: 3rem;
	font-weight: 700;
	display: block;
	text-align: center;
}

.plano__preco sup {
	position: relative;
	font-size: 1.5rem;
	vertical-align: super;
}

.plano__divisor {
	width: 20px;
	background-color: var(--cor-green-light);
	margin: 5px auto;
}

.plano-lista {
	max-width: 195px;
	margin: 0 auto;
}

.plano-lista__item {
	margin: 10px 0;
	font-style: italic;
	display: flex;
	align-items: center;
}

.plano-lista__item::before {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background-color: var(--cor-green-light);
	border-radius: 50%;
	margin-right: 5px;
}

.plano__btn-comprar {
	display: block;
	max-width: 180px;
	font-size: 2rem;
	font-weight: 700;
	margin: 15px auto;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid var(--cor-green-light);
	padding: 10px 0px 8px;
}

.plano__btn-comprar:hover {
	background-color: #000000;
	color: var(--cor-white);
	transition: .2s;
}

.plano:last-child {
	background-color: var(--cor-green-light);
}

.plano:last-child, .plano:last-child .plano__btn-comprar {
	border-color: var(--cor-pink-dark);
}

.plano:last-child .plano__divisor, .plano:last-child .plano-lista__item::before {
	background-color: var(--cor-pink-dark);
}

@media (max-width: 800px) {
	.plano:nth-child(3) {
		order: -2;
	}

	.plano:nth-child(2) {
		order: -1;
	}
}

/**********************************/
/* 7. Vantagens
/**********************************/

.vantagens {
	max-width: 960px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* align-items: center; */
	margin: 0 auto;
}

.vantagem {
	max-width: 240px;
	margin: 10px;
}

.vantagem__titulo {
	font-size: 1.7rem;
	margin: 0 0 5px 10px;
}

.vantagem__titulo::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 25px;
	margin-right: 5px;
}

.vantagem__descricao {
	text-align: justify;
}

.vantagem:nth-of-type(3n+1) .vantagem__titulo::before {
	background-color: var(--cor-green-light);
}

.vantagem:nth-of-type(3n+2) .vantagem__titulo::before {
	background-color: var(--cor-pink-dark);
}

.vantagem:nth-of-type(3n+3) .vantagem__titulo::before {
	background-color: var(--cor-green-dark);
}

@media (max-width: 800px) {
	.vantagem {
		max-width: 220px;
	}

	.vantagens {
		justify-content: center;
	}
}

/**********************************/
/* 8. Newsletter
/**********************************/

.newsletter {
	background-color: var(--cor-green-light);
}

.newsletter-c {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 50px 10px;
}

.newsletter__texto {
	margin-right: 20px;
}

.newsletter__titulo {
	font-size: 2.6rem;
	font-weight: 700;
}

.newsletter__descricao {
	font-style: italic;
}

.newsletter__assinar {
	background-color: var(--cor-pink-dark);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#txtemail {
	margin: 10px;
	width: 300px;
	height: 60px;
	padding: 0 10px;
	font-size: 1.4rem;
	font-style: italic;
	border: none;
}

.newsletter-btn__assinar {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 30px;
	padding: 10px;
}

.newsletter-btn__assinar:hover {
	color: var(--cor-green-light);
}

@media (max-width: 820px) {
	.newsletter__assinar {
		margin-top: 10px;
	}
}

/**********************************/
/* 9. Footer
/**********************************/

.footer {
	background-color: var(--cor-pink-light);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 55px calc((100% - 960px) / 2);
}

.footer__texto, .footer__logo {
	padding: 0 10px;
}

.footer__texto a:hover {
	color: var(--cor-green-dark);
	text-decoration: underline;
}